# Auto detect text files and perform LF normalization on checkin
* text=auto eol=lf

# Explicit binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.xlsx binary
*.xls binary
*.pdf binary
